.header-logo{
    margin: 0;
    padding: 1%;
    margin-bottom: 1%;
}
.header-logo img{
    height: 120%;
}
.header-title-wrapper{
    margin: 10px;
    background: white;
}
.header-title{
    color: darkblue;
    padding: 0;
    margin: 0;
    font-size: 2rem;
    margin-top: 5px;
    margin-right: 5px;
}
body{
    margin: 0;
    padding: 0;
    background-color: #e6e6e6 !important;
    font-family: 'Lora', serif;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}
.header{
    /* border: 1px solid blueviolet; */
    background-color: white;
    display: flex;
}


/*Navbar*/

.navbar{
    background-color: darkblue;
    box-shadow: 0 4px 10px black;
}
.nav-item{
    /* border: 1px solid black; */
    padding: 0 10px;
    text-align: center;
    color: white;
    border-radius: 10px;
}
.nav-item a:hover{
    background-color: white;
    border-radius: 10px;
    color: darkblue !important;
    transition-duration: 700ms;
}
.nav-item a{
    color: whitesmoke;
}
.navbar-dark .nav-item a:hover{
    background-color: blue;
    color: white;
}
.nav-link{
    line-height: normal;
}
.navbar-toggler-icon .fa-navicon{
    color: whitesmoke;
    font-size: 28px;
}


/*About Prof*/
.card-wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /* border: 1px solid black; */
}
.ccard{
    width: 30%;
    box-shadow: 2px 2px 10px #4d4d4d;
    transition: transform 0.3s;
}
.ccard:hover{
    transform: scale(1.05);
    box-shadow: 3px 3px 12px #2d2d2d;
}
.ccard .card-img-top{
    width: 80%;
    max-height: 250px;
    margin-left: 10%;
    margin-top: 2%;
    border-radius: 5%;
}


.ccard .card-body{
    text-align: center;
}
@media (max-width: 767.98px){
    #header-logo-image{
        float: left;
    }
    .ccard{
        width: 45%;
    }
}

@media (max-width: 575.98px) {
    .ccard{
        width: 90%;
    }
    .card-img-top{
        width: 75%;
    }
    
}
#cim{
    filter: brightness(80%);
    transition-duration: 700ms;
}
.ccard:hover #cim{
    filter: brightness(100%);
    transition-duration: 700ms;
}
.contact-heading{
    text-align: center;
    font-size: 2.3rem;
    color: darkblue;
}
.contact-heading:hover{
    -ms-text-underline-position: alphabetic;

}
hr{
    box-shadow: 2px 2px 10px #4d4d4d;
    margin-bottom: 2%;
}.parimg {
    position: relative;
    opacity: 0.9;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 50vh;
    border: 1px solid #2d2d2d;
    
 }
 #tc{
    /*background-image: url(https://media-exp1.licdn.com/dms/image/C511BAQG-PFkwuM_s3w/company-background_10000/0?e=2159024400&v=beta&t=a_tu38rRo3urTILJyaYNzUtEgViPKsMnjsJ9UXyPBPM);*/
    background: url("https://www.iitism.ac.in/assets/img/8.jpg");
    transition-duration: 1000;
    position: relative;
    opacity: 0.9;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 50vh;
    border: 1px solid #2d2d2d;
 }



 /*Facility pages*/



.page-wrapper .activity-section{
    width: 100%;
    display: flex;
    border: 1px solid #888;
    box-shadow: 2px 2px 10px #4d4d4d;
    margin-bottom: 20px;
    transition: transform 0.2s;
}
.page-wrapper .activity-section:hover{
    transform: scale(1.02);
    box-shadow: 3px 3px 12px #2d2d2d;
}
.page-wrapper .activity-section:nth-child(odd){
    flex-direction: row-reverse;
}
.page-wrapper .activity-section .activity-image-wrapper{
    width: 40%;
    margin: 20px;
    display: flex;
    justify-content: center;
}
.page-wrapper .activity-section .activity-section-image{
    width: 100%;
    min-height: 130px;
    max-height: 200px;
    border-radius: 10px;
}
.page-wrapper .activity-section .activity-content{
    width: 60%;
    margin: 20px;
}
.page-wrapper .activity-section .activity-content .activity-content-heading{
    text-align: center;
}
.page-wrapper .activity-section .activity-content-link{
    padding-top: 15px;
}
.page-wrapper .activity-section  li{
    font-size: large;
    
}

.page-wrapper .info-links-wrapper{
    list-style: disclosure-closed;
}
.page-wrapper .info-links-wrapper .info-links{
    margin: 5px;
}
.page-wrapper .info-links-wrapper .info-links a{
    color: darkblue;
}
.fh{
    color: darkblue;
    text-align: center;
}
.test111 a{
    font-size: large;
}
marquee{
    height: 220px;
}

.isfmh{
    font-size: 2.5rem;
    color: darkblue;
    text-align: center;
    text-transform: uppercase;
}
#sm{
    font-size: 2rem;
    text-align: right;
    cursor: pointer;
}


@media (max-width: 767.98px){
    .page-wrapper .activity-section{
        flex-wrap: wrap;
    }
    .page-wrapper .activity-section .activity-image-wrapper{
        width: 100%;
    }
    .page-wrapper .activity-section .activity-section-image{
        width: 90%;
        margin-left: 5%;
    }
    .page-wrapper .activity-section .activity-content{
        width: 100%;
        margin-bottom: 20px;
    }
    .page-wrapper .activity-section  li{
        font-size: medium;
        
    }
    .fh{
        font-size: x-large;
    }
    .test111 a{
        font-size: medium;
        margin-bottom: 0em;
        padding-bottom: 0em;
    }
    .isfmh{
        font-size: 1.6rem;
    }
}
